/*  color y alineacción de la pagina */
body {
  background-color: black;
  display: flex;
  justify-content: center;
}

/* contenedores de los items */
.container {
  display: block;
  min-width: 640px;
  width: 100%;
  margin-top: 2px;
}

.new-task {
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 8px;
  height: 40px;
  border-color: aquamarine;
  border-width: 2px;
}
 
.caja {
  text-align: center;
  background-color: #282c34;
  min-height: 30px;
  /* min-width: 640px; */
  width: 80%;
  flex-direction: column ; 
  align-items: baseline ;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1px 0 1px 0;
}

/* estilo de los titulos, texto y tareas color y alineación */
.title {
  text-align: center;
  color: white;
}

#tarea {
  text-align: left ;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
}



#alineacion-arriba {
  display:block;
}

.vinculo {
  color: #09d3ac;
  padding-top: 5px;
  display: block;
  
}
.botones{
  background-color: rgb(200, 255, 2);
  display: block;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding-top: 5px;
}
