/*  color y alineacción de la pagina */
body {
  background-color: black;
  display: flex;
  justify-content: center;
}

/* contenedores de los items */

.container {
  display: block;
  width: 100%;
  margin-top: 2px;
}

.escribir-tarea {
  display: block;
  width: 96%;
  background-color: azure;
  border-radius: 20px;
  height: 40px;
  border-color: aquamarine;
  border-width: 2px;
  margin: auto;
}
 
.caja {
  background-color: #282c34;
  min-height: 30px;
  flex-direction: column ; 
  margin: 5px 0 ;
  padding: 5px 3px;
  text-align: center;
}

.caja-tareas {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: #1a1b1b;
}

.mostrar-tareas{
  display: inline-flex;
  margin: auto auto auto 0; 
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  height: fit-content;
  min-width: 80%;
  padding: 0 0 0 3px;
}

.caja-borrar {
  display: inline-flex;
  margin: auto 0 auto 0; 
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 0 5px;
}

.boton-borrar {
  color: white;
  background-color: transparent;
  /* background-color:#282c34;  */  
  margin: 0;
  text-align: center;
  border-color: none;
  width: 40px;
  border-style: none;
  border-radius: 10px;
  
}

.caja-tareas:hover {
  background-color: rgb(151, 146, 146);
}

.boton-borrar:hover {
    background-color: rgb(0, 247, 255);
    width: 40px;
    color: black;
    margin: 0;
}
.caja-cabecera {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin:auto;
}

.logo-imagen {
    height: 60px; 
    width: 60px; 
    margin: auto 0;
}
.caja-cabecera > div:nth-child(1) {
  height: auto;
  margin: auto 0;  
  display: inline-flex;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 0 5px;
}
.caja-cabecera > div:nth-child(2) {
    height: auto;
    margin: 0 auto 0 0;  
    display: inline-flex;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 0 5px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
}
.caja-cabecera > div > div:nth-child(1) { 
  min-height: 30px; 
  margin: 0 auto 0 0;
  font-size: 30px;
}
.caja-cabecera > div > div:nth-child(2) { 
  min-height: 30px; 
  margin: 0 auto 0 0;
}


/* estilo de los titulos, texto y tareas color y alineación,
    el margen debe ir a 0 ya que este lo determina la caja padre
    el padding se determina aqui
*/
.titulo {
  text-align: center;
  color: white;
  margin: 0 0 0 0;
}
.lista-tareas {
  text-align: left;
  color: white;
  width: 100%;
  margin: 0 0 0 0;
}

.tarea {
  text-align: left ;
  padding: 0 5px 0 5px;
  font-size: 16px;
}

.texto-simple{
  text-align: left ;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
  display: inline-block;
  color: white;
  margin: 0;
}

.vinculo {
  color: #09d3ac;
  padding: 5px 3px 0 3px;
  display: inline-block;
  text-decoration: none; 
  font-size: 14px;
  margin: 0 8px 0 0;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #09d3ac;
  color: black;
}
